button {
    width: auto;
    background-color: #cccccc;
    padding: 5px 30px;
    cursor: pointer;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    width: auto;
}